.cards {
    padding-top: 20px;
}

.cards__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 40px 20px;
    border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
    padding-bottom: 40px;
}

@media screen and (max-width: 880px) {
    .cards__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

}

@media screen and (max-width: 627px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .cards__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        gap: 20px;
    }
}